
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important
;
}

:root {
  --background: #fff;
  --foreground: #2c3e50;
  --text: #555;
  --btn-bg: #007bff;
  --btn-hover-bg: #0056b3;
  --btn-text: #fff;
}

body.dark-mode {
  --background: #181a1b;
  --foreground: #f5f6fa;
  --text: #c7c7c7;
  --btn-bg: #222e3c;
  --btn-hover-bg: #3a4a5a;
  --btn-text: #fff;
  background: var(--background);
  color: var(--text);
}